.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 210px;
  height: 260px;
  border: 1px solid #f3f3f3;
  text-align: left;
  border-radius: 40px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
  margin: 0 auto;

  &:hover {
    box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.05);
    transform: translateY(-5px);
  }

  .favorite {
    position: absolute;
    top: 25px;
    left: 26px;
    cursor: pointer;
  }
  .shoes {
    width: 133px;
    height: 112px;
  }
  .title {
    font-size: 14px;
    line-height: 17px;
    max-width: 150px;
  }
  .purchase {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 210px;
    .info {
      display: flex;
      flex-direction: column;
    }
    .button {
      cursor: pointer;
    }
  }
}
