.rootEmpty {
  max-width: 972px;
  margin: 0 auto;
  padding-bottom: 20px;
  .image {
    margin-top: 150px;
    margin-bottom: 25px;
  }
  .titleEmpty {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
  }
  .text {
    font-size: 16px;
    line-height: 19px;
    opacity: 0.4;
    margin-top: 11px;
    margin-bottom: 70px;
  }
  .btnBlock {
    display: flex;
    justify-content: center;
    .btn {
      display: flex;
      justify-content: center;
      max-width: 255px;
      background: #9dd558;
      border-radius: 18px;
      width: 100%;
      padding: 18px 0;
      color: #ffffff;
      font-size: 16px;
      cursor: pointer;
      margin-bottom: 10%;
      .arrow {
        position: relative;
        top: 2px;
        right: 10px;
        transition: transform 0.2s ease-in-out;
        transform: rotate(180deg);
      }

      &:hover {
        opacity: 0.8;
        .arrow {
          transform: translateX(-6px) rotate(180deg);
        }
      }

      &:active {
        opacity: 0.5;
      }
    }
  }
}

.root {
  max-width: 972px;
  margin: 0 auto;
  padding-bottom: 20px;
  .flexWrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 40px;
  }
  .title {
    margin-left: 20px;
    margin-bottom: 6px;
  }
  .items {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    @media (max-width: 990px) {
      grid-template-columns: repeat(3, 1fr);
      padding-left: 40px;
    }
    @media (max-width: 750px) {
      grid-template-columns: repeat(2, 1fr);
      padding-left: 40px;
    }
    @media (max-width: 450px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
