.border {
  border-bottom: 1px solid #eaeaea;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 972px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 40px;
  @media (max-width: 970px) {
    padding: 40px 20px;
  }
  .active {
    background-color: white;
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 40%;
    width: 40%;
    top: 11%;
    bottom: 0;
    left: 50%;
    right: 0;
    z-index: 50;
    overflow-y: auto;
    padding: 50px 40px;
    animation: burgerAnimation 0.4s;
  }
}

.blockRight {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .textBLock {
    margin-left: 10px;
  }

  .logo {
    max-width: 40px;
    max-height: 40px;
  }

  .title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: -9px;
  }

  .subtitle {
    font-size: 14px;
    margin-left: 10px;
  }
}

.blockLeft {
  width: 196px;
  display: flex;
  justify-content: space-between;
  .cart {
    display: flex;
    align-items: center;
    @media (max-width: 560px) {
      justify-content: center;
    }

    .cart {
      max-width: 20px;
      max-height: 20px;
      margin-right: 10px;
    }
    .cartText {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
    }
  }
  .favorite {
    max-width: 20px;
    max-height: 20px;
  }
  .user {
    max-width: 20px;
    max-height: 20px;
  }
  @media (max-width: 560px) {
    display: none;
  }
}

.burger {
  display: none;
  position: relative;
  z-index: 2;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
  cursor: pointer;
  span {
    height: 2px;
    width: 80%;
    transform: scale(1);
    background-color: #c4c4c4;
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: #c4c4c4;
    transition: all 0.3s ease 0s;
  }
  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }
  @media (max-width: 560px) {
    display: flex;
  }
}
