.wrapper {
  max-width: 960px;
  margin: 0 auto;
  margin-top: 45px;
  position: relative;

  .cursor {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px 14px;
    border-radius: 43px;
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 132px;
    left: 941px;
    @media (max-width: 965px) {
      display: none;
    }
  }
}
